<div class="row">
    <div class="col">
        <h1 class='new'>
            {{ post.title }}
        </h1>
        <p>{{ post.published }}</p>
    </div>
</div>

<div class="row" ng-if="post.image">
    <div class="col">
        <img class="rounded mx-auto d-block" height="400px" src="{{ post.image }}" />
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="description">{{ post.content }}</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h3 ng-show="commentsExist">Comments:</h3>
        <h4 ng-hide="commentsExist">Comments have not been created yet</h4>
        <ul class="list-group">
            <input type="text" ng-model="query" ng-show="commentsExist"placeholder="Filter Comments" />
            <li class="list-group-item" ng-repeat="comment in comments | filter: query">
                <span>{{ comment.content }}</span>
                <footer>
                    {{ comment.user }} <cite title="Source Title">{{ comment.timestamp }} ago</cite><span> | {{ comment.reply_count }} Comments</span> | <a href="" ng-click="showReply(comment)">Reply</a> | <a href="" confirm-click confirmed-click="deleteReply(comment)">Delete</a>
                </footer>
                <div class="col-6">
                    <p style="color:red" ng-if="reply.content">Reply Preview: {{ reply.content }}</p>
                    <form ng-submit="addCommentReply(reply, comment)" ng-show="comment.show_reply">
                        <div class="form-group row">
                            <textarea class="col-6 form-control" ng-model="reply.content"></textarea>
                        </div>
                        <div class="from-group row">
                            <button type="submit" ng-disabled="!reply.content" class="btn btn-light" value="save">Reply</button>
                        </div>
                        
                    </form>
                </div>
            
<!--  {% if comment.children %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}<a href="#" class="show-replies">Reply</a>{% if comment.children %} | <a href="{% url 'comments:thread' comment.id %}">Thread -->



            </li>
            <li class="list-group-item" ng-show="newComment.content">
                <p>Reply Preview: {{ newComment.content }}</p>
            </li>
            <li class="list-group-item">
                <form ng-submit="addNewComment()">
                    <div class="form-group row">
                        <textarea class="col-6 form-control" ng-model="newComment.content"></textarea>
                    </div>
                    <div class="from-group row">
                        <button type="submit" ng-disabled="!newComment.content" class="btn btn-light" value="save">Comment</button>
                    </div>
                    
                </form>
            </li>
        </ul>

    </div>
</div>


</div>